{% extends 'MesdFilterBundle::layout.html.twig' %}

{% form_theme form 'MesdFilterBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Filter creation</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="form-group">
        {{
            form_label(
                form.filterCategory
            )
        }}
        {{
            form_widget(
                form.filterCategory,
                {
                    'attr': {
                        'data-url': url(
                            'MesdUserBundle_filter_category_data',
                            {
                                'id': -1,
                            }
                        )
                    }
                }
            )
        }}
        {{
            form_errors(
                form.filterCategory
            )
        }}
    </div>
    <div class="form-group">
        {{
            form_label(
                form.filterRow,
                'Filter Definition'
            )
        }}
        {{
            form_widget(
                form.filterRow
            )
        }}
        {{
            form_errors(
                form.filterRow
            )
        }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('filter') }}">
                Back to the list
            </a>
        </li>
    </ul>
    
    <select id="cell-join-template" class="hidden">
        <option></option>
        {% for join in joins %}
            <option value="{{ join.id }}">join.description</option>
        {% endfor %}
        <option>Other</option>
    </select>

    <div id="modals">
    </div>
    
{% endblock body %}
