{% extends "MesdFilterBundle::layout.html.twig" %}

{% block body %}
    <h1>One User For Many Filters list</h1>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Filters</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('MesdFilterBundle_oneusermanyfilters_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity }}</td>
                <td>
                    {% for mesdFilter in entity.mesdFilter %}{% if 0 < loop.index0 %},{% endif %}
                        {{ mesdFilter }}
                    {% endfor %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('MesdFilterBundle_oneusermanyfilters_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('MesdFilterBundle_oneusermanyfilters_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
