{%- block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% if required %}<span class="text-danger" title="This field is required">*</span>{% endif %}
    {%- endif -%}
{%- endblock form_label -%}

{% block _mesd_filterbundle_filter_filterRow_widget %}
    <textarea {{ block('widget_attributes') }}>[{% for filterRow in value %}{% if not loop.first %},{% endif %}[{% for solvent in filterRow.solvent %}{% if not loop.first %},{% endif %}{{ '{"associationId":"' ~ solvent.associationId ~ '","solvent":['}}{% for id in solvent.solvent %}{% if not loop.first %},{% endif %}{{ id }}{% endfor %}{{']}' }}{% endfor %}]{% endfor %}]</textarea>
    {% if value is not empty %}
        <div id="filter-interface">
            {#}{{ dump(form.vars.value) }}{#}
            {#}{#}
            {% set associations = form.vars.value.owner.filterEntity.filterAssociation %}
            {% set n = associations | length %}
            <table id="filter-interface-table" class="table table-striped table-bordered table-hover table-responsive" data-rows="{{ value | length }}" data-columns="{{ n }}">
                <tbody>
                    <tr>
                        {% for association in associations %}
                            {% if not loop.first %}
                                <th></th>
                            {% endif %}
                            <th>{{ association.name }}</th>
                        {% endfor %}
                        {% if 1 < n %}
                            <th>Delete Row</th>
                        {% endif %}
                    </tr>
                    {% set row = 0 %}
                    {% for filterRow in value %}
                        {% if not loop.first %}
                            <tr class="or">
                                <td colspan="{{ (n * 2) - 1 + ((1 < n) ? 1 : 0) }}">OR</td>
                            </tr>
                        {% endif %}
                        <tr class="filter-row">
                            {% for i in 0..(n-1) %}
                                {% set codename = associations[i].name | lower | replace({' ' : '-' }) %}
                                {% if not loop.first %}
                                    <td>AND</td>
                                {% endif %}
                                {% set found = false %}
                                {% for filterCell in filterRow.filterCell %}
                                    {% if filterCell.filterAssociation.id == associations[i].id %}
                                        {% set found = true %}
                                        <td>
                                    <div id="{{ codename }}-{{ row }}" class="filter-cell" data-cell-solvent="[{% for id in filterCell.solvent %}{% if not loop.first %},{% endif %}{{ id }}{% endfor %}]" data-association-id="{{ associations[i].id }}">{{ filterCell.description }}</div>
                                            <div>
                                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ codename }}Modal" data-div-id="{{ codename }}-{{ row }}">Edit {{ associations[i].name }}</button>
                                                
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                {% if not found %}
                                <td>
                                    <div id="" class="filter-cell" data-cell-solvent="[-1]" data-association-id="{{ associations[i].id }}">No {{ associations[i].name }} selected</div>
                                    <div>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ codename }}Modal" data-div-id="{{ codename }}-{{ row }}">Edit {{ associations[i].name }}</button>
                                    </div>
                                </td>
                                {% endif %}
                            {% endfor %}
                            {% if 1 < n %}
                                <td><button id="delete-row-{{ row }}" type="button" class="btn btn-default delete-row no-listener" >Delete Row</button></td>
                            {% endif %}
                        </tr>
                        {% set row = row + 1 %}
                    {% endfor %}
                </tbody>
            </table>
            {#}{#}
        </div>
        <div id="modals"></div>
    {% else %}
        <div id="filter-interface">
            Please select a Filter Category.
        </div>
        <div id="modals"></div>
    {% endif %}
{% endblock %}
